.app-button_third {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 0.3rem;
  padding: 0.3rem;
  background-color: var(--color-button-third);
  font-size: 1rem;
  line-height: 1;
  color: var(--color-button-third-content);

  &:hover {
    background-color: var(--color-button-third-hover);
  }

  &:active {
    background-color: var(--color-button-third-active);
  }
}
