:root {
  --color-blue-link-web: #0052cc;
  --color-black: #000;
  --color-white: #fff;
  --color-dark-indigo-30-flat: #a5acb0;
  --color-dark-indigo-20-flat: #dfe1e6;
  --color-dark-indigo-15-flat: #cdd2d4;
  --color-dark-indigo-10-flat: #f3f5f7;
  --color-dark-indigo-5-flat: #f9fafc;
  --color-green-30-flat: #519839;
  --color-green-15-flat: #61bd4f;
  --color-blue-30-flat: #055a81;
  --color-blue-15-flat: #0079bf;
  --color-purple-30-flat: #89609e;
  --color-purple-15-flat: #c377e0;
  --color-yellow-30-flat: #e6c60d;
  --color-yellow-15-flat: #f2d600;
  --color-red-30-flat: #b04632;
  --color-red-15-flat: #eb5a46;
  --color-orange-30-flat: #cd8313;
  --color-orange-15-flat: #ff9f1a;
}
